Data taken from: https://www.cbssports.com/collegebasketball/ncaa-tournament/history/yearbyyear

In [67]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np
import re

In [68]:
master_df = pd.DataFrame(columns=['Team1', 'Team1_Score', 'Team2', 'Team2_Score', 'Winner', 'Year'])

# Iterate through files and cleanup
for i in range(2002, 2013):
    print(i)
    
    # Read in file
    year = str(i)
    fix_up = pd.read_csv('unclean_tournament_results/' + year + '_results.csv')

    # Remove seeding numbers
    fix_up['Team1'] = fix_up['Team1'].str.replace(r'No. \d+ ', '')
    fix_up['Team2'] = fix_up['Team2'].str.replace(r'No. \d+ ', '')

    # Isolate Scores
    fix_up['Team1_Score'] = fix_up['Team1'].str.extract(r'(\d+)')
    fix_up['Team2_Score'] = fix_up['Team2'].str.extract(r'(\d+)')

    # Isolate Team Names
    fix_up['Team1'] = fix_up['Team1'].str.extract(r'(\D+)')
    fix_up['Team2'] = fix_up['Team2'].str.extract(r'(\D+)')

    # Determine winner
    fix_up['Winner'] = ['Team1' if int(x) > int(y) else 'Team2'\
                        for x, y in zip(fix_up['Team1_Score'], fix_up['Team2_Score'])]

    # Cleanup Strings
    fix_up['Team1'] = fix_up['Team1'].str.strip()
    fix_up['Team2'] = fix_up['Team2'].str.strip()

    # Create Year Column
    fix_up['Year'] = year

    # Reorder Columns
    fix_up = fix_up[['Team1', 'Team1_Score', 'Team2', 'Team2_Score', 'Winner', 'Year']]

    master_df = pd.concat([master_df, fix_up], ignore_index=True)
    
master_df.to_csv('tournament_results/2002_2012.csv', index=False)
master_df.head()

2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012

            Team1 Team1_Score                Team2 Team2_Score Winner  Year
0           Siena          81           Alcorn St.          77  Team1  2002
1            Duke          84             Winthrop          37  Team1  2002
2      Notre Dame          82            Charlotte          63  Team1  2002
3         Indiana          75                 Utah          56  Team1  2002
4  UNC Wilmington          93  Southern California          89  Team1  2002

In [66]:
# master_df[master_df['Team1' == 'No'],]
# master_df[master_df['Team2' == 'No'],]